

body {
    margin: 0;
    background-color: #000000;
}

.telas {
    /* display: flex; */
    display: grid;
    grid-template-columns:auto ;
    margin:0px;
    grid-template-areas: 
    'topo topo topo'
    'menuu menuu menuu'
    'parteesq meio partedir'
    'rodape rodape rodape';

}

#topo {
    /* margin-bottom: 2cm; */
    
    background-color: #000000;
    grid-area: topo;
    /* height: 220px; */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imagens/topo.jpg);
    
    
    
    
}


#meio{
    background-size: 100%;
    background-image: url(imagens/wallp7.jpg); 
    
    background-color: #b0b0b0bb;
    grid-area: meio;
    height: 100%; 
    width: 100%;
    
    

}


#partedir{
    width: 100%; 
    background-image: url(imagens/wallp6.jpg);
    background-color: aliceblue;
    grid-area: partedir;
    background-position: center;
    



    

}

#parteesq {
 
    width: 100%;
    background-position: center;
    background-image: url(imagens/wallp6.jpg);   
    grid-area: parteesq;
    background-color: aliceblue;

    
}


#rodape{
    margin-bottom:100px;
    background-color: #000000;
    grid-area: rodape;
    height: 100%;



}

/* #titulo {
    font-variant: small-caps;
    text-align: center;
    color:aliceblue;
} */





#img1{
    border: 5px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background-image: url(imagens/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
#img2{
    border: 5px;
    margin-left: 1000px;
    margin-top: -255px;
    width: 250px;
    height: 250px;
    background-image: url(imagens/2.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#img3{
    background-position: center;
    border: 5px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
    background-image: url(imagens/7.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;

}
#img4{
    background-position: center;
    border: 5px;
    margin-left: 1000px;
    margin-top: -255px;
    width: 250px;
    height: 250px;
    background-image: url(imagens/8.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}


#loremfoda {
    background-size: 100%;
    background-position: center;
    color: aliceblue;
    margin-left: 20px;
    font-size: larger;
    margin-bottom: 10px;
}

.linguica{
    border: 1px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    font-size: larger;
    color: aliceblue;
    margin-left: 1em;
    text-align: center;
    
    
    
    
}

.menu {
    
    
    display: inline-block;
    background-color: #621708;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 5em;
    padding: 10px;
    transition: all;

}
.menu:hover {
    transition-duration: 0.5s;
    background-color: rgb(157, 171, 172);
}



Table {
    margin-left: 10px;
    border: 2px solid aliceblue;
    margin-right: 10px;

}

td {
    color: aliceblue;
}

tr {
    color: aliceblue;
}

.linguicaj {

    color: rgb(255, 255, 255);
    margin-left: 1em;
    text-align: center;
    font-variant: small-caps;
}

.linguicaj a{
    text-decoration: none;
    transition: all;
    
    
}
.linguicaj a :hover {
    transition-duration: 1s;
    text-decoration: underline;


    
    
}

#foto1 {
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/9.jpg);
    height: 300px;
    background-size: 100%;
}

#foto2 {
    margin-left: 275px;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/4.jpg);
}

#foto3 {
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    background-size: 100%;
    margin-left: 275px;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/10jpg.jpg);

}

#foto4{
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    background-size: 100%;
    margin-left: 275px;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/11.jpg);
}

#foto5{
    background-position: no-repeat;
    height: 150px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/12.jpg);
}

#menuu {
    margin-top: 5cm;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: center;
}

#gridfts {
    padding: 10px;
    display: grid;
    border: 2px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    grid-template-areas: 
    'img img img';
}

#gridfts img { 
    border: 5px inset #621708 ;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: center;
}

#godbetrayalft {
    background-position: no-repeat;
    height: 150px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/17.jpg);
}


#godbchainsovo {
    background-position: center;
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/21.jpg);

}

#godtres {
    background-position: center;
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/28.png);

}

#godgos{ 
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/31.png);
}

#godascensao {
    background-position: center;
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/32.png);
}

#god2k18 {
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/39.jpg);

}

#godragnar {
    height: 250px;
    width: 250px;
    background-size: 100%;
    border: 10px solid;
    box-shadow: 10px 3px 10px rgb(255, 0, 0);
    background-image: url(imagens/42.jpg);

}
