.menu{
    margin-left: 3em;
}

.telas {
    /* display: flex; */
    display: grid;
    grid-template-columns:auto ;
    margin:0px;
    grid-template-areas: 
    'topo topo topo'
    'parteesq meio partedir'
    'rodape rodape rodape';

}

#parteesq {
    width: 100%;
}

#partedir {
    width: 250px;
}



